<div ng-if="person">
  <div class="jumbotron" ng-hide="person.assessments && person.assessments.length > 0">
    <p>
      <span ng-show="person.info.name">Hi {{person.info.name || person.info.nickname}}.</span>
      It looks like you're not tracking any skills yet.
    </p>
    <a class="btn btn-primary" href="#/edit">Get started</a>
  </div>

  <div ng-show="person.assessments && person.assessments.length > 0">
    <h2>{{person.info.name || person.info.nickname}}</h2>
    <div ng-repeat="assessment in person.assessments" class="col-md-6">
      <h3>{{assessment.category}}</h3>
      <canvas ng-if="hasEnoughSkillsForRadar(assessment)" radar=""
          assessment="assessment"
          class="radar-block">
      </canvas>
      <div ng-if="!hasEnoughSkillsForRadar(assessment)" class="radar-block">
        <p class="text-muted">
          Blip's radar visualisations don't look great when you're tracking fewer
          than 3 skills in a category.
        </p>
        <a class="btn btn-default" href="#/edit">
          Track more {{assessment.category}} skills
        </a>
      </div>
    </div>
  </div>
</div>
